language: android
dist: trusty
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools
    - extra-android-support
    - build-tools-29.0.2
    - build-tools-28.0.3
    - android-29
    - android-28
  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
before_install:
  - yes | sdkmanager "platforms;android-28"
  - yes | sdkmanager "build-tools;29.0.2"
  - yes | sdkmanager "build-tools;28.0.3"
jdk:
  - oraclejdk8
script:
  - ./gradlew clean test
notifications:
  email: false
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache